.App{
    position: relative;
    overflow-x: clip;
}
.App>:nth-child(1){
    background: var(--black);
    position: relative;
}
.white-gradient{
    position: absolute;
    height: 20rem;
    width: 20rem;
    background: rgba(255,255,255,0.522);
    border-radius: 50%;
    filter: blur(100px);
    box-shadow: 2px 2px 50px 8px rgba(255,255,255,0.522);
}